# Add URLs here, as needed. Follow the examples to ensure proper formatting...

# Urls by Site ID...
Sites:
  1631: https://online3.jimmyjohns.com/jimmy/web/?&oos=1&landed=yes
  1821: http://pixel.fetchback.com/serve/fb/pdj?cat=&name=landing&sid=1821

# Urls by Campaign ID:
Campaigns:
  0: http://www.google.com
  325: http://www.bomgar.com/remotedesktopaccess/
  9257: http://www.lonestarwesterndecor.com/westernbedding1.html
  6375: http://www.aboutairportparking.com/san-francisco-international-airport-parking
